@font-face {
  font-family: 'HomemadeApple';
  src: url('/fonts/HomemadeApple-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: #000;
  color: #fff;
}
